* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  color: #333;
  font-family: Helvetica, sans-serif;
}

#app {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

ul,
ol {
  list-style: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

button {
  cursor: pointer;
}

.bg-white {
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.protocol {
  padding: 10px;
  word-wrap: break-word;
  color: #4a4a4a;
}

.protocol h1 {
  font-size: 15px;
  margin: 8px 0;
}

.protocol h1 small {
  font-weight: normal;
  font-size: 14px;
}

.protocol h2 {
  font-size: 15px;
  margin: 5px 0;
}

.protocol p {
  line-height: 1.5;
  font-size: 14px;
  margin-top: 12px;
}

.agreement p {
  text-indent: 0px;
  font-size: 14px;
}

.protocol .table {
  width: 100%;
  margin-top: 13px;
  border-collapse: collapse;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.protocol .table td {
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  width: 25%;
  padding-left: 10px;
  font-size: 12px;
  word-break: break-all;
}

.protocol ul {
  list-style: disc;
  padding-left: 20px;
}

.protocol ul li {
  margin-top: 13px;
  font-size: 14px;
}

.error {
  color: red;
}